# Secrets
.env
.env.*
!.env.example

# Virtual environment (use requirements.txt)
rag2/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Tools / IDE
.idea/
.vscode/
.streamlit/secrets.toml

# Logs
*.log

# OS
.DS_Store
Thumbs.db
